<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы</title>
    <link rel="stylesheet" th:href="@{/style/for_point.css}"/>

    <link rel="stylesheet" th:href="@{/style/for_admin.css}"/>
    <style>
        button #otchet {
            width: 500px;
        }


    </style>
</head>
<body>
<div class="wrapper">
    <header class="fixed">
        <div class="nav-and-search">
            <h1>ООО "ГЕРМЕС-ПЛЮС"</h1>
        </div>
        <div class="icons">
            <a th:href="@{/account}"> <img height="35px" th:src="@{/img/header/user.png}"></a>
        </div>

    </header>
    <header class="invisible">
        <div class="nav-and-search">
            <h1>ООО "ГЕРМЕС-ПЛЮС"</h1>
        </div>
        <div class="icons">
            <a th:href="@{/account}"> <img height="35px" th:src="@{/img/header/user.png}"></a>
        </div>

    </header>
    <div class="container">
        <div class="sidebar fixed">
            <a th:href="@{/order}">Заказы</a>
            <a th:href="@{/sclad}">Товары на складе</a>
            <a th:href="@{/otchet}">Отчетность</a>
            <a th:href="@{/catalog}">Каталог</a>
            <a th:href="@{/employee}">Сотрудники</a>
            <a th:href="@{/point}">Магазины</a>
            <div class="logo-container">
                <img height="150px" th:src="@{/img/body/forLoginRegistration/germes.png}" alt="">
            </div>
        </div>

        <div class="sidebar invisible">
            <a th:href="@{/order}">Заказы</a>
            <a th:href="@{/sclad}">Товары на складе</a>
            <a th:href="@{/otchet}">Отчетность</a>
            <a th:href="@{/catalog}">Каталог</a>
            <a th:href="@{/employee}">Сотрудники</a>
            <a th:href="@{/point}">Магазины</a>
            <div class="logo-container">
                <img height="150px" th:src="@{/img/body/forLoginRegistration/germes.png}" alt="">
            </div>
        </div>

        <div class="main-content">
            <header class="header_for_point header-order">

                <div class="search-container">
                    <form th:action="@{/order/search}" method="post">
                        <input type="text" name="query" placeholder="Поиск...">
                    </form>
                </div>

            </header>
            <table class="documents-table">
                <thead>
                <tr>
                    <th class="filter-header">
                        <span class="filter-icon">Статус</span>
                        <form th:action="@{/order/status}" method="post">
                            <div class="filter-dropdown">
                                <select name="status">
                                    <option th:each="status : ${status}" th:value="${status}" th:text="${status.title}">
                                        Ожидает подтверждения
                                    </option>
                                </select>
                                <button>Применить</button>
                            </div>
                        </form>
                    </th>
                    <th>Тип заказа</th>
                    <th>Номер заказа</th>
                    <th>Дата заказа</th>
                    <!--                        <th class="filter-header">-->
                    <!--                            <span class="filter-icon">Статус оплаты</span>-->
                    <!--                            <div class="filter-dropdown">-->
                    <!--                                <select>-->
                    <!--                                    <option value="">Все направления</option>-->
                    <!--                                    <option value="incoming">Оплачен</option>-->
                    <!--                                    <option value="outgoing">Не оплачен</option>-->
                    <!--                                </select>-->
                    <!--                                <button>Применить</button>-->
                    <!--                            </div>-->
                    <!--                        </th>-->
                    <th>Стоимость заказа</th>
                    <th class="filter-header">
                        <!--                            <span class="filter-icon">-->
                        Магазин
                        <!--                            </span>-->
                        <!--                            <div class="filter-dropdown">-->
                        <!--                                <select>-->
                        <!--                                    <option value="">Все направления</option>-->
                        <!--                                    <option value="incoming">Входящий</option>-->
                        <!--                                    <option value="outgoing">Исходящий</option>-->
                        <!--                                    <option value="internal">Внутренний</option>-->
                        <!--                                </select>-->
                        <!--                                <button>Применить</button>-->
                        <!--                            </div>-->
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orderForFabrics}">
                    <td><a th:text="${order.status.title}" th:href="@{/order/fabric/{id} (id=${order.id})}"></a></td>
                    <td><a th:text="'Заказ с фабрики'" th:href="@{/order/fabric/{id} (id=${order.id})}"></a></td>
                    <td><a th:text="${order.id}" th:href="@{/order/fabirc/{id} (id=${order.id})}"></a></td>
                    <td><a th:text="${order.orderDate}" th:href="@{/order/fabric/{id} (id=${order.id})}"></a></td>
                    <td><a th:text="${order.totalPrice} + ' руб.'" th:href="@{/order/fabric/{id} (id=${order.id})}"></a></td>
                    <td><a th:text="${order.pointOfSale.name}" th:href="@{/order/fabirc/{id} (id=${order.id})}"></a></td>

                </tr>
                <tr th:each="order : ${orderForLegals}">
                    <td><a th:text="${order.status.title}" th:href="@{/order/legal/{id} (id=${order.id})}"></a></td>
                    <td><a th:text="'Заказ юр лиц'" th:href="@{/order/legal/{id} (id=${order.id})}"></a></td>
                    <td><a th:text="${order.id}" th:href="@{/order/leagl/{id} (id=${order.id})}"></a></td>
                    <td><a th:text="${order.orderDate}" th:href="@{/order/legal/{id} (id=${order.id})}"></a></td>
                    <td><a th:text="${order.totalPrice} + ' руб.'" th:href="@{/order/legal/{id} (id=${order.id})}"></a></td>
                    <td><a th:text="${order.fabric.name}" th:href="@{/order/legal/{id} (id=${order.id})}"></a></td>

                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<script>
    // Простая реализация фильтрации
    document.querySelectorAll('.filter-dropdown button').forEach(button => {
        button.addEventListener('click', function () {
            const columnIndex = this.closest('th').cellIndex;
            const select = this.previousElementSibling;
            const filterValue = select.value;
            const table = this.closest('table');

            table.querySelectorAll('tbody tr').forEach(row => {
                const cell = row.cells[columnIndex];
                const cellValue = cell.textContent.trim().toLowerCase();

                if (filterValue === "" || cellValue.includes(filterValue.toLowerCase())) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
</script>


</body>
</html>