<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазины</title>
    <link rel="stylesheet" th:href="@{/style/for_point.css}"/>

    <link rel="stylesheet" th:href="@{/style/for_admin.css}"/>
    <style>
        button #otchet {
            width: 500px;
        }


    </style>
</head>
<body>
<div class="wrapper">
    <header class="fixed">
        <div class="nav-and-search">
            <h1>ООО "ГЕРМЕС-ПЛЮС"</h1>
        </div>
        <div class="icons">
            <a th:href="@{/account}"> <img height="35px" th:src="@{/img/header/user.png}"></a>
        </div>

    </header>
    <header class="invisible">
        <div class="nav-and-search">
            <h1>ООО "ГЕРМЕС-ПЛЮС"</h1>
        </div>
        <div class="icons">
            <a th:href="@{/account}"> <img height="35px" th:src="@{/img/header/user.png}"></a>
        </div>

    </header>
    <div class="container">
        <div class="sidebar fixed">
            <a th:href="@{/order}">Заказы</a>
            <a th:href="@{/sclad}">Товары на складе</a>
            <a th:href="@{/otchet}">Отчетность</a>
            <a th:href="@{/catalog}">Каталог</a>
            <a th:href="@{/employee}">Сотрудники</a>
            <a th:href="@{/point}">Магазины</a>
            <div class="logo-container">
                <img height="150px" th:src="@{/img/body/forLoginRegistration/germes.png}" alt="">
            </div>
        </div>

        <div class="sidebar invisible">
            <a th:href="@{/order}">Заказы</a>
            <a th:href="@{/sclad}">Товары на складе</a>
            <a th:href="@{/otchet}">Отчетность</a>
            <a th:href="@{/catalog}">Каталог</a>
            <a th:href="@{/employee}">Сотрудники</a>
            <a th:href="@{/point}">Магазины</a>
            <div class="logo-container">
                <img height="150px" th:src="@{/img/body/forLoginRegistration/germes.png}" alt="">
            </div>
        </div>

        <div class="main-content">
            <header class="header_for_point">
                <div class="nav-and-search" style="display: flex;flex-direction: row;">
                    <!-- TODO для админа и обычного разные -->
                    <!-- TODO для юр лиц -->
                    <form th:action="@{/point/create}">
                        <button>+ Добавить магазин</button>
                    </form>
                </div>

                <div class="search-container">
                    <form th:action="@{/point/search}" method="post">
                        <input type="text" name="query" placeholder="Поиск...">
                    </form>
                </div>

            </header>
            <table class="documents-table">
                <thead>
                <tr>
                    <th>Идентификатор</th>
                    <th>Наименование</th>
                    <th>Главный менеджер</th>
                    <th>Адрес</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="point : ${points}">
                    <td><a th:text="${point.id}" th:href="@{/point/{id} (id=${point.id})}"></a></td>
                    <td><a th:text="${point.name}" th:href="@{/point/{id} (id=${point.id})}"></a></td>
                    <td th:if="${point.pointManager != null}">
                        <a th:text="${point.pointManager.surname}"
                           th:href="@{/point/{id}(id=${point.id})}"></a>
                    </td>
                    <td th:unless="${point.pointManager != null}">
                        <a th:text="'Не назначен'"
                           th:href="@{/point/{id}(id=${point.id})}"></a>
                    <td><a th:text="${point.address}" th:href="@{/point/{id} (id=${point.id})}"></a></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<script>
    // Простая реализация фильтрации
    document.querySelectorAll('.filter-dropdown button').forEach(button => {
        button.addEventListener('click', function () {
            const columnIndex = this.closest('th').cellIndex;
            const select = this.previousElementSibling;
            const filterValue = select.value;
            const table = this.closest('table');

            table.querySelectorAll('tbody tr').forEach(row => {
                const cell = row.cells[columnIndex];
                const cellValue = cell.textContent.trim().toLowerCase();

                if (filterValue === "" || cellValue.includes(filterValue.toLowerCase())) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
</script>


</body>
</html>